.updated {
  height: 100vh;
  background-color: black;
  background-color: rgb(253, 239, 227);
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkIcon {
  color: peru;
  /* font-size: 8rem; */
}
.h1Updated {
  color: rgb(99, 93, 87);
  margin-left: 2rem;
}
.MuiSvgIcon-root {
  font-size: 6rem;
}
