.myAllBlogs {
  height: 100vh;
  /* background-color: rgb(236, 229, 236); */
  background-color: rgb(250, 245, 241);
}
.innerClass {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(229, 229, 236); */
  background-color: rgb(250, 245, 241);
  border-top-right-radius: 40px;
}
.myBlogsHeader {
  background: hsla(310, 96%, 18%, 0.25);
  box-shadow: 0 0 16px 0 hsla(0, 92%, 10%, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: whitesmoke;
  padding: 0.5rem;
  border-top-right-radius: 40px;
}
.myBlogsBody {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}
.allBlogCard2 {
  background-color: rgb(124, 14, 113);
  width: 80%;
  margin: 1.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
  border-top-right-radius: 40px;
  background: rgba(182, 164, 164, 0.15);
}
.allBlogCard:hover {
  transform: translateX(20px);
}
.createNew {
  background-color: rgb(134, 120, 133);
  color: white;
  outline: none;
  border: none;
  padding: 1rem;
  font-family: "Quicksand", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  margin: 2rem 0;
}
.createNew:hover {
  background-color: rgb(99, 93, 97);
}
.blogIcon {
  display: flex;
  flex-direction: column;
}
.editIcon,
.delIcon {
  font-size: 2.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: hsl(209, 31%, 15%);
}
.editIcon:hover,
.delIcon:hover {
  background: hsla(0, 48%, 74%, 0.25);
  box-shadow: 0 8px 32px 0 hsla(0, 92%, 10%, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 50px;
  color: white;
}
.blogTitle,
.blogContent {
  padding-top: 0.5rem;
}
.blogArea {
  color: rgb(71, 3, 71);
}
